@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --background-color: rgb(23, 35, 83);
  --background-segundo: rgb(61, 76, 132);
  --backgroud-tercero: rgb(124, 124, 124);
  --colorMarvel: rgb(230, 36, 42);
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.916)), to(rgba(143, 59, 62, 0.916)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.916) 0%, rgba(143, 59, 62, 0.916) 100%);
}

body .modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modalmask:target {
  opacity: 1;
  pointer-events: auto;
}

body .modalmask .modalbox {
  width: 320px;
  margin: 5px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

body .modalmask .modalbox .button {
  width: 200px;
  height: 32px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  bottom: 0;
  color: white;
  margin: 370px auto 0px;
}

body .modalmask .modalbox .button:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background-color: var(--colorMarvel);
}

body .modalmask .modalbox .fa-play {
  margin-right: 10px;
}

body .modalmask .modalbox .close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

body .modalmask .modalbox .close:hover {
  background: #FAAC58;
  color: #222;
}

body .modalmask .resize {
  margin: auto;
  max-width: 320px;
  max-height: 500px;
}

body .modalmask:target .resize {
  margin: 50px auto;
  width: auto;
  height: 450px;
}

body .modalmask .moon-knight {
  background-image: url(./assets/fondoMoonknight.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .loki {
  background-image: url(./assets/fondoLoki.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .daredevil {
  background-image: url(./assets/fondoDaredevil.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .hawkeye {
  background-image: url(./assets/fondoHawkeye.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .ms-marvel {
  background-image: url(./assets/fondoMs-Marvel.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .luke-cage {
  background-image: url(./assets/fondoLukeCage.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .defenders {
  background-image: url(./assets/fondoDefenders.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .antman {
  background-image: url(./assets/FondoantMan.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .backwidow {
  background-image: url(./assets/fondoBlackWidow.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .avengers3 {
  background-image: url(./assets/fondoAvengers3.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .spider-man {
  background-image: url(./assets/spider-man.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .thor1 {
  background-image: url(./assets/thor-1.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .thor2 {
  background-image: url(./assets/fondoThor2.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .thor3 {
  background-image: url(./assets/fondoTho3.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .thor4 {
  background-image: url(./assets/fondoThor4.webp);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .avengers1 {
  background-image: url(./assets/fondoAvengers1.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .avengers2 {
  background-image: url(./assets/fondoAvengers2.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .modalmask .avengers4 {
  background-image: url(./assets/fondoAnvengers4.webp);
  background-size: 100% 100%;
  background-repeat: repeat;
}

body .nav {
  background: #8f3b3e;
  background: -webkit-gradient(linear, left top, right top, from(rgba(143, 59, 62, 0.916)), to(rgba(0, 0, 0, 0.916)));
  background: linear-gradient(90deg, rgba(143, 59, 62, 0.916) 0%, rgba(0, 0, 0, 0.916) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  border-radius: 20px;
  margin: 0px auto 10px;
}

body .nav i {
  color: white;
  cursor: pointer;
  margin: auto;
}

body .vista {
  margin: 5px auto 0;
  padding: 5px;
}

body .vista img {
  max-width: 650px;
  max-height: 300px;
  margin: auto;
}

body h1 {
  display: none;
}

body .logo {
  width: 80px;
  padding: 10px 0 0 0;
}

body .nota {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

body .nota h2 {
  text-align: start;
  margin-left: 3%;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

body .nota .cartelera {
  padding: 10px;
  position: relative;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .nota .cartelera::-webkit-scrollbar {
  display: none;
}

body .nota .cartelera img {
  height: 145px;
  margin-right: 12px;
  -webkit-box-shadow: 2px 6px 6px -4px lightblue;
          box-shadow: 2px 6px 6px -4px lightblue;
}

body footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  background-color: black;
  color: white;
}

body footer p {
  font-size: 0.9em;
}

body footer .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer .contacto img {
  width: 35px;
  background-color: white;
  border-radius: 50px;
}

body footer h3 {
  font-size: 1.2em;
  text-align: end;
  margin: 0 5px 3px 0;
}
/*# sourceMappingURL=style.css.map */