@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --background-color: rgb(23, 35, 83);
    --background-segundo: rgb(61, 76, 132);
    --backgroud-tercero: rgb(124, 124, 124);
    --colorMarvel: rgb(230, 36, 42);
}

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.916) 0%, rgba(143,59,62,0.916) 100%);

    .preloader {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-oscuro);
        top: 0;
    
        .marvel {
            width: 200px;
            margin-top: 150px;
        }
    
        @keyframes ldio-f6hut07g61q {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
    
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    
        .ldio-f6hut07g61q div {
            position: absolute;
            width: 70px;
            height: 70px;
            border: 6px solid white;
            border-top-color: transparent;
            border-radius: 50%;
        }
    
        .ldio-f6hut07g61q div {
            animation: ldio-f6hut07g61q 2.272727272727273s linear infinite;
            top: 100px;
            left: 100px
        }
    
        .loadingio-spinner-rolling-yexx8ffoci {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
        }
    
        .ldio-f6hut07g61q {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
        }
    }

    .modalmask {
        position: fixed;
        font-family: Arial, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        text-align: center;
        justify-content: center;
        &:target {
            opacity:1;
            pointer-events: auto;
        }
        .modalbox{
            width: 320px;
            margin: 5px;
            position: relative;
            padding: 5px 20px 13px 20px;
            background: #fff;
            border-radius:3px;
            -webkit-transition: all 500ms ease-in;
            -moz-transition: all 500ms ease-in;
            transition: all 500ms ease-in;

            .button{
                width: 200px;
                height: 32px;
                border: 1px solid red;
                border-radius: 5px;
                background-color: red;
                bottom: 0;
                color: white;
                margin: 370px auto 0px;
                &:hover{
                    transition-duration: 0.1s;
                    background-color: var(--colorMarvel);
                }
            }
            .fa-play{
                margin-right: 10px;
            }

            .close {
                background: #606061;
                color: #FFFFFF;
                line-height: 25px;
                position: absolute;
                right: 1px;
                text-align: center;
                top: 1px;
                width: 24px;
                text-decoration: none;
                font-weight: bold;
                border-radius:3px;
          
                &:hover {
                    background: #FAAC58;
                    color:#222;
                }
            }
             
        }
        .resize {
            margin: auto;
            max-width: 320px;
            max-height: 500px;
        }
        &:target .resize{
            margin: 50px auto;
           width: auto;
           height: 450px;
        }
        .moon-knight{
            background-image: url(./assets/fondoMoonknight.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .loki{
            background-image: url(./assets/fondoLoki.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .daredevil{
            background-image: url(./assets/fondoDaredevil.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .hawkeye{
            background-image: url(./assets/fondoHawkeye.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .ms-marvel{
            background-image: url(./assets/fondoMs-Marvel.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .luke-cage{
            background-image: url(./assets/fondoLukeCage.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .defenders{
            background-image: url(./assets/fondoDefenders.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .antman{
            background-image: url(./assets/FondoantMan.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .backwidow{
            background-image: url(./assets/fondoBlackWidow.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .avengers3{
            background-image: url(./assets/fondoAvengers3.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .spider-man{
            background-image: url(./assets/spider-man.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .thor1{
            background-image: url(./assets/thor-1.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .thor2{
            background-image: url(./assets/fondoThor2.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .thor3{
            background-image: url(./assets/fondoTho3.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .thor4{
            background-image: url(./assets/fondoThor4.webp);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .avengers1{
            background-image: url(./assets/fondoAvengers1.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .avengers2{
            background-image: url(./assets/fondoAvengers2.jpg);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
        .avengers4{
            background-image: url(./assets/fondoAnvengers4.webp);
            background-size: 100% 100%;
            background-repeat: repeat;
        }
    }

    .navDesktop{
        display: none;
    }

    .nav {
        background: rgb(143,59,62);
        background: linear-gradient(90deg, rgba(143,59,62,0.916) 0%, rgba(0,0,0,0.916) 100%);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        z-index: 10;
        border-radius: 20px;
        margin: 0px auto 10px;

        i {
            color: white;
            cursor: pointer;
            margin:auto;
        }
    }   

    .vista {
        margin: 5px auto 0;
        padding: 5px;

        img {
            max-width: 650px;
            max-height: 300px;
            margin: auto;
        }
    }

    h1 {
        display: none;
    }

    .logo {
        width: 80px;
        padding: 10px 0 0 0;
    }

    .nota {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        padding: 10px;

        h2 {
            text-align: start;
            margin-left: 3%;
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 25px;
        }

        .cartelera {
            padding: 10px;
            position: relative;
            overflow: scroll;
            scroll-snap-type: x mandatory;
            max-width: 780px;
            display: flex;

            &::-webkit-scrollbar {
                display: none;
            }

            img {
                height: 145px;
                margin-right: 12px;
                box-shadow: 2px 6px 6px -4px lightblue;
            }
        }
    }

    footer {
        justify-content: center;
        margin-bottom: 45px;
        background-color: black;
        color: white;

        p {
            font-size: 0.9em;
        }

        .contacto {
            display: flex;
            justify-content: space-around;

            img {
                width: 35px;
                background-color: white;
                border-radius: 50px;
            }
        }

        h3 {
            font-size: 1.2em;
            text-align: end;
            margin: 0 5px 3px 0;
        }
    }
}

@media (min-width: 768px){
    body {

        .nav{
            display: none;
        }
        .navDesktop{
            display: flex;
            background: rgb(143,59,62);
            background: linear-gradient(90deg, rgba(143,59,62,0.916) 0%, rgba(0,0,0,0.916) 100%);
            justify-content: space-around;
            position: sticky;
            top: 0;
            height: 40px;
            border-radius: 0px 0px 15px 15px;
            z-index: 10;
            width: 100%;
            i{
                color: white;
                cursor: pointer;
                margin:auto;
            }
        }
    }
}
