@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --background-color: rgb(23, 35, 83);
    --background-segundo: rgb(61, 76, 132);
    --backgroud-tercero: rgb(124, 124, 124);
}

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    margin: auto;

    .vista {
        max-width: 700px;
        max-height: 350px;
        margin: 5px auto 0;
        padding: 5px;

        img {
            max-width: 700px;
            max-height: 350px;
        }
    }

    .nav {
        background-color: rgb(230, 36, 42);
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;

        i {
            color: white;
            cursor: pointer;
            margin-bottom: 19px;
        }

        //!menu hamburguesa
        .main-header {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            //position: absolute;
        }

        .main-nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            margin-left: -100%;
            transition: all 0.2s linear;
            background-color: rgba(230, 36, 42, 0.9);
            z-index: 100;
        }

        .main-nav.show {
            margin-left: 0;
        }

        .nav-links {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
        }

        .link-item {
            margin-top: 3rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
            position: relative;
        }

        .link-item::after {
            position: absolute;
            content: "";
            background-color: black;
            bottom: -3px;
            left: 0;
            width: 0%;
            height: 3px;
            transition: 0.3s ease all;
        }

        .link-item:hover::after {
            width: 100%;
        }

        .button-menu {
            width: 100%;
            height: 30px;
            border: none;
            display: flex;
            flex-direction: column;
            background: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 19px;
        }

        .button-menu span {
            width: 25px;
            height: 2px;
            margin-bottom: 4px;
            position: relative;
            background: white;
            border-radius: 3px;
            transform-origin: 4px 0px;
            transition: all 0.2s linear;
            z-index: 100;
        }

        .button-menu.close span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, 0px);
            background: #ffffff;
        }

        .button-menu.close span:nth-child(2) {
            transform: rotate(-45deg) translate(-8px, 5px);
        }

        .button-menu.close span:nth-child(3) {
            display: none;
        }

        //! fin menu hamburguesa
    }

    .navDesktop {
        display: none;
    }

    h1 {
        display: none;
    }

    .logo {
        width: 80px;
        padding: 10px 0 0 0;
    }

    .nota {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        padding: 10px;

        h2 {
            text-align: start;
            margin-left: 3%;
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 25px;
        }

        .cartelera {
            padding: 10px;
            position: relative;
            overflow: scroll;
            scroll-snap-type: x mandatory;
            max-width: 780px;
            display: flex;

            &::-webkit-scrollbar {
                display: none;
            }

            img {
                height: 145px;
                margin-right: 12px;
                box-shadow: 2px 6px 6px -4px lightblue;
            }
        }
    }

    footer {
        justify-content: center;
        margin-bottom: 35px;
        background-color: black;
        color: white;

        p {
            font-size: 0.9em;
        }

        .contacto {
            display: flex;
            justify-content: space-around;

            img {
                width: 35px;
                background-color: white;
                border-radius: 50px;
            }
        }

        h3 {
            font-size: 1.2em;
            text-align: end;
            margin: 0 5px 3px 0;
        }
    }
}

@media (min-width: 768px) {
    body {
        .nav {
            display: none;
        }

        .navDesktop {
            display: flex;
            background-color: rgb(230, 36, 42);
            height: 40px;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 10;
            justify-content: space-around;
            text-align: center;

            .link-item {
                color: white;
                text-decoration: none;
                font-weight: bold;
                position: relative;
                margin: auto;
            }
        }
    }
}