:root {
  --background-color: rgb(23, 35, 83);
  --background-segundo: rgb(61, 76, 132);
  --backgroud-tercero: rgb(124, 124, 124);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

body .logo {
  width: 160px;
  margin: 15px;
}

body .nota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .nota .cartelera {
  height: 145px;
  -webkit-box-shadow: 2px 6px 6px -4px lightblue;
          box-shadow: 2px 6px 6px -4px lightblue;
  margin: 15px 5px;
}

body .nota article {
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .nota article h1 {
  color: white;
  margin-bottom: 3px;
}

body .nota article p {
  font-size: 0.8em;
  color: white;
}

body .episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 20px;
  background-color: var(--backgroud-tercero);
  padding: 3px;
  border-radius: 5px;
}

body .episodios img {
  width: 100px;
  height: 60px;
}

body .episodios .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .episodios .descripcion h2 {
  font-size: 1em;
  text-align: center;
  margin: auto 3px;
}

body .episodios .descripcion p {
  display: none;
}

.nav {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.nav i {
  color: white;
  cursor: pointer;
  margin: auto 0;
}

.nav .main-header {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

.nav .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.nav .main-nav.show {
  margin-left: 0;
}

.nav .nav-links {
  background-color: var(--background-segundo);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .link-item {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.nav .link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.nav .link-item:hover::after {
  width: 100%;
}

.nav .button-menu {
  width: 100%;
  height: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 19px;
}

.nav .button-menu span {
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: white;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 100;
}

.nav .button-menu.close span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.nav .button-menu.close span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
          transform: rotate(-45deg) translate(-8px, 5px);
}

.nav .button-menu.close span:nth-child(3) {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav .button-menu {
    display: none;
  }
  .nav .main-nav {
    position: static;
    margin-left: 0;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    height: 100%;
  }
  .nav .nav-links {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: white;
  }
  .nav .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */